*{
    margin: 0px;
}
li  {
    justify-content: space-between;
    font-size: larger;
    padding: 20px;
    margin-left: 50px;
    border-radius: 25px;
   
}
li:hover{
    background-color: rgb(151, 151, 203);
}
h1{
    
    padding: 40px;
    text-align: center;
    font-family: "Dancing Script", system-ui;
}
#carouselExampleRide img{
height: 500px;
}
.brand {
    padding: 40px;
    text-align: center;
    font-family: "DM Serif Display", system-ui;
}
.col-md-4 {
/* margin: 65px;   */
justify-content: center;
align-items: center;
/* padding: 25px; */
width: 250px;
border-radius: 10px;
display: flex;

}
.card-body button {
    margin: 20px;
    
    justify-content: center;
    align-items: center;
    
}
.position-relative {
    position: relative;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.buy-now-btn {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.buy-now-btn:hover {
    background-color: #e64e40;
}

.position-relative:hover .hover-overlay {
    opacity: 1;
}
footer {
    width: 100%;
   
    text-align: center; /* Center-align text */
}
h2{
    margin: 20px;
    font-family: "Playfair Display", system-ui;
}
i{
    margin-top: 10px;
}
p{
    margin-top: 10px;
}
iframe{
    height: 220px;
    width: 350px;
}